@import '../../styles/colors.scss';

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
}

.rowWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:not(:first-child) {
    padding-bottom: 1.5rem;
  }
}

.time {
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 3px;
}

.transfersWrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0px 20px;
}

.transfers {
  padding: 0 0 7px 0;
  margin: 0 0 8px 0;
  width: 110px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: $gray;
  border-bottom: 1px solid $gray;
}

.imgWrap {
  width: 16px;
  height: 16px;
}
.airplane {
  min-width: 100%;
  min-height: 100%;
  display: block;
  margin: 0 0 0 1px;
  opacity: 0.2;
}
.alignLeft {
  font-size: 0.85rem;
  color: $gray;
  text-align: left;
}
.alignRight {
  font-size: 0.85rem;
  color: $gray;
  text-align: right;
}
.airportName {
  padding: 5px 0;
  font-weight: 700;
  font-size: 0.9rem;
  color: $text;
}
