.routepoint {
  display: flex;
  flex-direction: column;
}
.time {
  margin-bottom: 3px;
  line-height: 1.2;
  font-size: 2rem;
  color: #626262;
}

.name {
  font-weight: 600;
  font-size: 0.8rem;
  color: #626262;
;
}

.date {
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.3;
  color: #c1c1c1;
}
