@import '../styles/colors.scss';

.filter {
  padding: 1rem 0px;
}
.title {
  font-weight: 700;
  padding: 0px 15px 10px 15px;
  text-transform: uppercase;
}
.filter > *:not(.title) {
  user-select: none;
  cursor: pointer;
  &:hover {
    background-color: $blue-background;
  }
}
