@import '../../styles/colors.scss';

.checkboxLabel {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .label {
    flex: 1;
    letter-spacing: normal;
  }
}

.hiddenCheckbox {
  // Hidden visually but can  still be read by screenreaders
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.checkbox {
  display: inline-block;
  margin-right: 10px;
}

.checkboxActive {
  path {
    fill: $blue;
  }
  rect {
    fill: $blue-background;
    stroke: $blue;
  }
}
.btnOnly {
  padding: 4px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 0.6rem;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: $blue;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
