.btnGroup {
  display: flex;
}

.btn {
  color: #2196f3;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 12px 20px;
  background-color: inherit;
  cursor: pointer;
  border: 1px solid #c1c1c1;

  &:first-child {
    border-radius: 5px 0 0 5px;
  }

  &:last-child {
    border-radius: 0 5px 5px 0;
  }

  &:hover {
    background-color: #f1fcff;
    border: 1px solid #2196f3;
    transition: all ease 0.2s;
  }
}

.btnActive {
  color: white;
  background-color: #2196f3;
  border: 1px solid #2196f3;

  &:hover {
    background-color: #2196f3;
  }
}
